@media (max-width:768px) {
  .style2 {
    font-family: BalsamiqSans,serif;
    font-size: 2.75em;
    margin-left: 61px;
    margin-top: 103px;
    height: 57px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 117px;
    margin-top: 192px;
    width: 139px;
    height: 72px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style1,
  .style3 {
    font-family: BalsamiqSans,serif
  }
  .style1 {
    text-align: center;
    font-size: .9375em;
    height: 16px
  }
  .style3 {
    font-size: 2.75em;
    margin-left: 61px;
    margin-top: 37px;
    height: 57px
  }
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-family: BalsamiqSans,serif;
    font-size: 1.0625em;
    margin-left: 11px;
    margin-top: 50px;
    height: 27px
  }
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 8px
  }
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 50px
  }
  .style7,
  .style8,
  .style9 {
    margin-top: 7px
  }
  .style8,
  .style9 {
    margin-top: 50px
  }
  .style9 {
    margin-top: 11px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 117px;
    margin-top: 85px;
    width: 139px;
    height: 72px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style12 {
    font-family: BalsamiqSans,serif;
    font-size: 2.75em;
    margin-left: 61px;
    margin-top: 38px;
    height: 57px
  }
  .inputpagerow1 {
    display: flex;
    margin-left: 18px;
    margin-top: 25px;
    width: 85px;
    height: 18px;
    align-items: stretch
  }
  .inputpagerow1radiobutton0 {
    margin-left: 0;
    width: 17px
  }
  .style13 {
    font-family: BalsamiqSans,serif;
    font-size: 1.0625em;
    margin-left: 7px
  }
  .inputpagerow2 {
    display: flex;
    margin-left: 18px;
    margin-top: 20px;
    width: 109px;
    height: 18px;
    align-items: stretch
  }
  .inputpagerow2radiobutton1 {
    margin-left: 0;
    width: 17px
  }
  .style14 {
    font-family: BalsamiqSans,serif;
    font-size: 1.0625em;
    margin-left: 7px
  }
  .inputpagerow3 {
    display: flex;
    margin-left: 18px;
    margin-top: 121px;
    width: 287px;
    height: 35px;
    align-items: stretch
  }
  .style15,
  .style19 {
    font-family: BalsamiqSans,serif;
    font-size: 1.0625em;
    margin-left: 0
  }
  .style19 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-indent: 12px;
    margin-left: 6px;
    width: 94px
  }
  .inputpagerow4 {
    display: flex;
    margin-left: 18px;
    margin-top: 27px;
    width: 287px;
    height: 35px;
    align-items: stretch
  }
  .style16 {
    font-family: BalsamiqSans,serif;
    font-size: 1.0625em;
    margin-left: 0
  }
  .style17,
  .style21 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000
  }
  .style21 {
    font-family: BalsamiqSans,serif;
    font-size: 1.0625em;
    text-indent: 12px;
    margin-left: 0;
    width: 94px
  }
  .style17 {
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 115px;
    margin-top: 103px;
    width: 139px;
    height: 72px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style18 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: .9375em;
    height: 16px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .style2 {
    font-family: BalsamiqSans,serif;
    font-size: 5.632em;
    margin-left: 125px;
    margin-top: 211px;
    height: 117px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 240px;
    margin-top: 393px;
    width: 285px;
    height: 147px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style1,
  .style3 {
    font-family: BalsamiqSans,serif
  }
  .style1 {
    text-align: center;
    font-size: 1.92em;
    height: 33px
  }
  .style3 {
    font-size: 5.632em;
    margin-left: 125px;
    margin-top: 76px;
    height: 117px
  }
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-family: BalsamiqSans,serif;
    font-size: 2.176em;
    margin-left: 23px;
    margin-top: 102px;
    height: 55px
  }
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 16px
  }
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 102px
  }
  .style7,
  .style8,
  .style9 {
    margin-top: 14px
  }
  .style8,
  .style9 {
    margin-top: 102px
  }
  .style9 {
    margin-top: 23px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 240px;
    margin-top: 174px;
    width: 285px;
    height: 147px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    height: 33px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style12 {
    font-family: BalsamiqSans,serif;
    font-size: 5.632em;
    margin-left: 125px;
    margin-top: 78px;
    height: 117px
  }
  .inputpagerow1 {
    display: flex;
    margin-left: 37px;
    margin-top: 51px;
    width: 174px;
    height: 37px;
    align-items: stretch
  }
  .inputpagerow1radiobutton0 {
    margin-left: 0;
    width: 35px
  }
  .style13 {
    font-family: BalsamiqSans,serif;
    font-size: 2.176em;
    margin-left: 14px
  }
  .inputpagerow2 {
    display: flex;
    margin-left: 37px;
    margin-top: 41px;
    width: 223px;
    height: 37px;
    align-items: stretch
  }
  .inputpagerow2radiobutton1 {
    margin-left: 0;
    width: 35px
  }
  .style14 {
    font-family: BalsamiqSans,serif;
    font-size: 2.176em;
    margin-left: 14px
  }
  .inputpagerow3 {
    display: flex;
    margin-left: 37px;
    margin-top: 248px;
    width: 588px;
    height: 72px;
    align-items: stretch
  }
  .style15,
  .style19 {
    font-family: BalsamiqSans,serif;
    font-size: 2.176em;
    margin-left: 0
  }
  .style19 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-indent: 25px;
    margin-left: 12px;
    width: 193px
  }
  .inputpagerow4 {
    display: flex;
    margin-left: 37px;
    margin-top: 55px;
    width: 588px;
    height: 72px;
    align-items: stretch
  }
  .style16 {
    font-family: BalsamiqSans,serif;
    font-size: 2.176em;
    margin-left: 0
  }
  .style17,
  .style21 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000
  }
  .style21 {
    font-family: BalsamiqSans,serif;
    font-size: 2.176em;
    text-indent: 25px;
    margin-left: 0;
    width: 193px
  }
  .style17 {
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 236px;
    margin-top: 211px;
    width: 285px;
    height: 147px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style18 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 1.92em;
    height: 33px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .style2 {
    font-family: BalsamiqSans,serif;
    font-size: 6.746666666666666em;
    margin-left: 150px;
    margin-top: 253px;
    height: 140px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 287px;
    margin-top: 471px;
    width: 341px;
    height: 177px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style1,
  .style3 {
    font-family: BalsamiqSans,serif
  }
  .style1 {
    text-align: center;
    font-size: 2.3em;
    height: 39px
  }
  .style3 {
    font-size: 6.746666666666666em;
    margin-left: 150px;
    margin-top: 91px;
    height: 140px
  }
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-family: BalsamiqSans,serif;
    font-size: 2.6066666666666665em;
    margin-left: 27px;
    margin-top: 123px;
    height: 66px
  }
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 20px
  }
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 123px
  }
  .style7,
  .style8,
  .style9 {
    margin-top: 17px
  }
  .style8,
  .style9 {
    margin-top: 123px
  }
  .style9 {
    margin-top: 27px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 287px;
    margin-top: 209px;
    width: 341px;
    height: 177px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    height: 39px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style12 {
    font-family: BalsamiqSans,serif;
    font-size: 6.746666666666666em;
    margin-left: 150px;
    margin-top: 93px;
    height: 140px
  }
  .inputpagerow1 {
    display: flex;
    margin-left: 44px;
    margin-top: 61px;
    width: 209px;
    height: 44px;
    align-items: stretch
  }
  .inputpagerow1radiobutton0 {
    margin-left: 0;
    width: 42px
  }
  .style13 {
    font-family: BalsamiqSans,serif;
    font-size: 2.6066666666666665em;
    margin-left: 17px
  }
  .inputpagerow2 {
    display: flex;
    margin-left: 44px;
    margin-top: 49px;
    width: 267px;
    height: 44px;
    align-items: stretch
  }
  .inputpagerow2radiobutton1 {
    margin-left: 0;
    width: 42px
  }
  .style14 {
    font-family: BalsamiqSans,serif;
    font-size: 2.6066666666666665em;
    margin-left: 17px
  }
  .inputpagerow3 {
    display: flex;
    margin-left: 44px;
    margin-top: 297px;
    width: 704px;
    height: 86px;
    align-items: stretch
  }
  .style15,
  .style19 {
    font-family: BalsamiqSans,serif;
    font-size: 2.6066666666666665em;
    margin-left: 0
  }
  .style19 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-indent: 29px;
    margin-left: 15px;
    width: 231px
  }
  .inputpagerow4 {
    display: flex;
    margin-left: 44px;
    margin-top: 66px;
    width: 704px;
    height: 86px;
    align-items: stretch
  }
  .style16 {
    font-family: BalsamiqSans,serif;
    font-size: 2.6066666666666665em;
    margin-left: 0
  }
  .style17,
  .style21 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000
  }
  .style21 {
    font-family: BalsamiqSans,serif;
    font-size: 2.6066666666666665em;
    text-indent: 29px;
    margin-left: 0;
    width: 231px
  }
  .style17 {
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 282px;
    margin-top: 253px;
    width: 341px;
    height: 177px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style18 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 2.3em;
    height: 39px
  }
}
@media (min-width:1200px) {
  .style2 {
    font-family: BalsamiqSans,serif;
    font-size: 8.8em;
    margin-left: 195px;
    margin-top: 330px;
    height: 182px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 374px;
    margin-top: 614px;
    width: 445px;
    height: 230px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style1,
  .style3 {
    font-family: BalsamiqSans,serif
  }
  .style1 {
    text-align: center;
    font-size: 3em;
    height: 51px
  }
  .style3 {
    font-size: 8.8em;
    margin-left: 195px;
    margin-top: 118px;
    height: 182px
  }
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-family: BalsamiqSans,serif;
    font-size: 3.4000000000000004em;
    margin-left: 35px;
    margin-top: 160px;
    height: 86px
  }
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 26px
  }
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 160px
  }
  .style7,
  .style8,
  .style9 {
    margin-top: 22px
  }
  .style8,
  .style9 {
    margin-top: 160px
  }
  .style9 {
    margin-top: 35px
  }
  .style10 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 374px;
    margin-top: 272px;
    width: 445px;
    height: 230px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style11 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    height: 51px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style12 {
    font-family: BalsamiqSans,serif;
    font-size: 8.8em;
    margin-left: 195px;
    margin-top: 122px;
    height: 182px
  }
  .inputpagerow1 {
    display: flex;
    margin-left: 58px;
    margin-top: 80px;
    width: 272px;
    height: 58px;
    align-items: stretch
  }
  .inputpagerow1radiobutton0 {
    margin-left: 0;
    width: 54px
  }
  .style13 {
    font-family: BalsamiqSans,serif;
    font-size: 3.4000000000000004em;
    margin-left: 22px
  }
  .inputpagerow2 {
    display: flex;
    margin-left: 58px;
    margin-top: 64px;
    width: 349px;
    height: 58px;
    align-items: stretch
  }
  .inputpagerow2radiobutton1 {
    margin-left: 0;
    width: 54px
  }
  .style14 {
    font-family: BalsamiqSans,serif;
    font-size: 3.4000000000000004em;
    margin-left: 22px
  }
  .inputpagerow3 {
    display: flex;
    margin-left: 58px;
    margin-top: 387px;
    width: 918px;
    height: 112px;
    align-items: stretch
  }
  .style15,
  .style19 {
    font-family: BalsamiqSans,serif;
    font-size: 3.4000000000000004em;
    margin-left: 0
  }
  .style19 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-indent: 38px;
    margin-left: 19px;
    width: 301px
  }
  .inputpagerow4 {
    display: flex;
    margin-left: 58px;
    margin-top: 86px;
    width: 918px;
    height: 112px;
    align-items: stretch
  }
  .style16 {
    font-family: BalsamiqSans,serif;
    font-size: 3.4000000000000004em;
    margin-left: 0
  }
  .style17,
  .style21 {
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000
  }
  .style21 {
    font-family: BalsamiqSans,serif;
    font-size: 3.4000000000000004em;
    text-indent: 38px;
    margin-left: 0;
    width: 301px
  }
  .style17 {
    box-shadow: 3271px 3271px 0 0 #000;
    display: flex;
    margin-left: 368px;
    margin-top: 330px;
    width: 445px;
    height: 230px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center
  }
  .style18 {
    text-align: center;
    font-family: BalsamiqSans,serif;
    font-size: 3em;
    height: 51px
  }
}